# EditorConfig is awesome: https://EditorConfig.org

# Don't use tabs for indentation.
[*]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = lf

[*{.gd,.cfg,.tres,.tscn}]
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false